.banner {
    background: url('../img/mulher\ maravilha.webp');  
    background-position: top center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 75vh; 
} 

.perfil {
    border-radius: 50%; 
    border: #fff solid 0.5rem; 
    height: 60vh;
}


.myName {
    font-family: 'Dosis', sans-serif;
        font-size: 4rem; 
        color: #fff; 
        font-weight: 600;
}

@media (max-width: 576px) { 
    .banner {
        background-position: center; 
        height: 100vh; 
    } 
    .perfil {
        height: 100%;
    }
    .myName{
        font-family: 'Dosis', sans-serif;
        font-size: 2.5rem; 
        font-weight: 300; 
        text-align: center;
    }

} 
@media (min-width: 577px) and (max-width: 1200px) {
    .banner {
        background-position: right; 
        height: 80vh; 
    } 
    .perfil {
        height: 100%;
     }
    } 

    .cor{
        color: #0d6efd; 
    }

    .fonte{
        font-family: styles;
    }